menu "Network Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

config CLIENT_IP
    string "Client IP"
	default ""
	help
		IP of the client running VLC or ffplay to stream the audio to.

		If left blank the gateway address will be used.

endmenu
